html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
  font-family: 'Inter', Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h2,
h3 {
  font-weight: 500;
  font-size: 2.4rem;
  letter-spacing: 0.02rem;
  line-height: 1.25;
}

h2 {
  font-size: 2.4rem;
  margin-bottom: 20px;
}

h3 {
  font-size: 2rem;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  max-width: 840px;
  margin: 0 auto;
  padding: 0 130px;
}

body {
  background-color: #181618;
  color: #f5fafd;
  font-size: 1.5rem;
}

.main-paragraph {
  font-size: 1.5rem;
  margin: 0;
  letter-spacing: 0.035rem;
  line-height: 1.4;
}

.line-break {
  display: block;
}

.header-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 32.5vh;
  min-height: 215px;
  padding-top: 80px;
  text-align: left;
}

.header-section__branding {
  width: 250px;
  margin-bottom: 20px;
}

.main-heading {
  font-weight: 500;
  font-size: 3rem;
  margin-bottom: 20px;
  letter-spacing: 0.02rem;
  line-height: 1.25;
}

.main-paragraph--header {
  font-size: 1.6rem;
  margin: 0;
}

.calculator-results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 65px;
}

.form__progress {
  margin-bottom: 60px;
  height: 30px;
  counter-reset: step;
  text-align: center;
}

.progress__stage {
  width: calc(100% / 3);
  float: left;
}

.progress__stage:before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  line-height: 3rem;
  display: block;
  font-size: 1.5rem;
  font-weight: 900;
  color: #8b8a8b;
  background: #525152;
  margin: 0 auto;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.progress__stage--current:before {
  background: #ec393a;
  color: #ffeaea;
}

.form__stage {
  border: none;
  padding: 0 0 60px 0;
  margin: 0;
}

input[type="radio"] {
  opacity: 0;
  position: absolute;
}

input[type="text"],
input[type="email"] {
  font-size: 1.5rem;
  display: block;
  font-size: 1.5rem;
  letter-spacing: 0.035rem;
  line-height: 1.4;
  color: #181618;
  background-color: #f3f3f3;
  width: 100%;
  padding: 0 14px;
  margin-bottom: 15px;
  height: 40px;
  border: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder {
  color: #8b8a8b;
}

input[type="text"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder {
  color: #8b8a8b;
}

input[type="text"]::-ms-input-placeholder,
input[type="email"]::-ms-input-placeholder {
  color: #8b8a8b;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder {
  color: #8b8a8b;
}

.stage__container {
  margin-bottom: 40px;
}

.stage__container--buttons {
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.stage__container--buttons > .button--main {
  width: 45%;
}

.stage__container--radio {
  height: 155px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

h3 ~ input[type="text"] {
  margin-bottom: 0;
}

.gender-male__button,
.gender-female__button {
  position: relative;
  display: inline-block;
  height: 120px;
  width: 120px;
  margin-right: 20px;
}

.gender-male__button::before,
.gender-male__button::after {
  position: absolute;
  left: 0;
  bottom: 0;
}

.gender-female__button::before,
.gender-female__button::after {
  position: absolute;
  left: 0;
  bottom: 0;
}

.gender-male__button::before {
  content: '';
  background-image: url(../assets/male.jpg);
  background-size: cover;
  display: inline-block;
  height: 120px;
  width: 120px;
  border: 1px solid #8b8a8b;
  cursor: pointer;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.gender-male__button:after {
  content: "";
  display: inline-block;
  height: 120px;
  width: 120px;
  cursor: pointer;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transition: background-color 250ms ease;
  -webkit-transition: background-color 250ms ease;
  -moz-transition: background-color 250ms ease;
  -ms-transition: background-color 250ms ease;
  -o-transition: background-color 250ms ease;
}

.gender-male__button:hover::after {
  background: rgba(255, 255, 255, 0.1);
}

.radio-grouping input[type="radio"]:checked + .gender-male__button::after {
  content: "YES";
  padding-top: 10px;
  padding-left: 10px;
  position: absolute;
  right: 100px;
  background: rgba(255, 255, 255, 0.1);
}

.gender-female__button::before {
  content: '';
  background-image: url(../assets/female.png);
  background-size: cover;
  display: inline-block;
  height: 120px;
  width: 120px;
  border: 1px solid #8b8a8b;
  cursor: pointer;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.gender-female__button:after {
  content: "";
  display: inline-block;
  height: 120px;
  width: 120px;
  cursor: pointer;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transition: background-color 250ms ease;
  -webkit-transition: background-color 250ms ease;
  -moz-transition: background-color 250ms ease;
  -ms-transition: background-color 250ms ease;
  -o-transition: background-color 250ms ease;
}

.gender-female__button:hover:after {
  background: rgba(255, 255, 255, 0.1);
}

.radio-grouping input[type="radio"]:checked + .gender-female__button::after {
  content: "YES";
  padding-top: 10px;
  padding-left: 10px;
  position: absolute;
  right: 100px;
  background: rgba(255, 255, 255, 0.1);
}

.button {
  cursor: pointer;
  font-size: 1.5rem;
  letter-spacing: 0.035rem;
  line-height: 1.4;
  height: 40px;
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.button--main {
  background-color: #ec393a;
  color: #ffeaea;
  width: 100%;
  transition: background-color 250ms ease;
  -webkit-transition: background-color 250ms ease;
  -moz-transition: background-color 250ms ease;
  -ms-transition: background-color 250ms ease;
  -o-transition: background-color 250ms ease;
}

.button--main:hover {
  background-color: #d43334;
}

.footer-section {
  height: 5vh;
  font-size: 1.2rem;
  color: #8b8a8b;
  text-align: center;
}

.footer-section__copyright {
  margin: 0;
  padding-top: 10px;
}
